<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />
<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/monokai.min.css"
/>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/languages/javascript.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/languages/xml.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/languages/typescript.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/languages/json.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/languages/bash.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/languages/shell.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
